@media screen and (orientation:portrait) {
    body {
	background: #fff url(../../calendar_portrait.jpg) top center no-repeat;
    }
    #welcome-lscape {
	display:none;
    }
    #welcome {
	display:block;
    }
    .icons {
	top:310px;
    }
    #footer {
	top:380px;
    }
}
@media screen and (orientation:landscape) {
    body {
	background: #fff url(../../calendar.jpg) top center no-repeat;
    }
    #welcome-lscape {
	display:block;
    }
    #welcome {
	display:none;
    }
    .icons {
	top:500px;
    }
    #footer {
	top:600px;
    }
}
